nav {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9f9f9f;
}

footer {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9f9f9f;
}

.content {
    width: 1280px;
    margin: 30px auto;
}